<div class="container">
  <div class="panel panel-default">
    <div class="modal-header">About Component</div>
    <div class="modal-body">
      <div>
        <h3>Infos</h3>
        <ul class="list-group">
          <li class="list-group-item">Nom : <strong>{{ infos.nom }}</strong></li>
          <li class="list-group-item">Email : <strong>{{ infos.email }}</strong></li>
          <li class="list-group-item">Tel : <strong>{{ infos.tel }}</strong></li>
        </ul>
      </div>

      <div><br>
        <form #f = "ngForm" (ngSubmit) = "onAddCommentaire(f.value)">
          <div class="form-group">
            <label  class="custom-control-label">Message :</label>
            <input type="text" name="message" ngModel  [(ngModel)] = "commentaire.message" required="required">
            <button type="submit" [disabled]="!f.valid" class="btn btn-primary">
              Ajouter Commentaire
            </button>
          </div>
        </form>
      </div>
        <!--<div class="form-group">
          <label for="" class="custom-control-label">Message :</label>
          <input type="text" [(ngModel)]="commentaire.message">
          <button [disabled]="!commentaire.message" class="btn btn-primary" (click)="onAddCommentaire()">Ajouter Commentaire</button>
        </div>-->

      <div>
        <h3>Commentaires :</h3>
        <ul class="list-group">
          <li *ngFor="let c of comments" class="list-group-item">
            {{c.message}},
            <span class="badge badge-secondary">{{c.date | date : 'd/M/y'}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div>



