<div class="container">
  <div class="panel-body">
    <div class="modal-header">Gallery Component</div>
    <div class="modal-body">
      <form #f="ngForm" (ngSubmit)="onSearch(f.value)">
        <label for="motCle">Mot Clé :</label>
        <input type="text" ngModel name="motCle" [(ngModel)] = 'motCle' required>
        <button type="submit" class="btn btn-primary">Chercher</button>
      </form>

      <div *ngFor="let photo of pagePhotos?.hits">
          <div class="panel panel-primary col-lg-4">
            <div class="panel-heading">{{ photo.user}}</div>
            <div class="panel-body">
              <img src="{{ photo.webformatURL}}" alt="" class="img-thumbnail">
            </div>
          </div>
      </div>
      <div class="row">
        <ul class="nav nav-pills">
          <li *ngFor="let page of pages; let i = index" class="clickable" [ngClass]='{"active": currentPage == (i+1)}'>
            <a (click)="goToPage(i)">{{i + 1}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
