<p></p>
  <div class="container">
    <button routerLink="/about" class="btn-primary">About</button>
    <button routerLink="/contacts" class="btn-primary">Contacts</button>
    <button routerLink="/gallery" class="btn-primary">Gallery</button>
  </div>
<router-outlet></router-outlet>



